.AddItemForm {
  text-align: left;
  margin: 0 auto;
  width: 480px;
}

.AddItemForm div {
  margin: 10px 0;
}

.AddItemForm .textInput {
  border: 1px solid black
}

.AddItemForm .errorInput {
  border: 1px solid crimson
}
